<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Choose Action</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body class="shirt-page" style="background-color: #01522f;" >



    <div class="login">
        <div class="login__form">
            <h1 class="login__title">Choose an Action</h1>

            <div class="login__inputs" style="display: flex; flex-direction: column; gap: 1rem;">
                <a th:href="@{/view-formations-coach}" class="login__button">See Formations</a>
                <a th:href="@{/see-suggestions}" class="login__button">See & Respond to Suggestions</a>
            </div>

            <div class="login__register">
                <a th:href="@{/antrenor}">Back to Dashboard</a>
            </div>
        </div>
    </div>

</body>
</html>
